<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Cases (Posts about plugin)</title><link>http://blog.fizyk.net.pl/</link><description></description><atom:link href="http://blog.fizyk.net.pl/tags/plugin.xml" rel="self" type="application/rss+xml"></atom:link><language>en</language><lastBuildDate>Wed, 16 Jun 2021 11:18:43 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>fzBlameablePlugin 1.1.2 released</title><link>http://blog.fizyk.net.pl/blog/fzblameableplugin-1-1-2-released/</link><dc:creator>Grzegorz Śliwiński</dc:creator><description>&lt;div&gt;&lt;p&gt;fzBlameablePlugin has just seen new release. 1.1.2 this time. I fixes
issue with Doctrine no translating PHP Null to SQL NULL in queries, b passing explicitly string &lt;strong&gt;'NULL'&lt;/strong&gt;. Like the last one, this fix was also
created by Gábor Egyed.&lt;/p&gt;
&lt;ul class="simple"&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference external" href="https://github.com/fizyk/fzBlameablePlugin/compare/v1.1.1...v1.1.2"&gt;Changelog&lt;/a&gt; since fzBlameable v1.1.1&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference external" href="http://www.symfony-project.org/plugins/fzBlameablePlugin/1_1_2"&gt;Plugin's release symfony page&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference external" href="https://github.com/fizyk/fzBlameablePlugin/tree/v1.1.2"&gt;Plugin's release repository tree&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;</description><category>fzBlameable</category><category>php</category><category>plugin</category><category>symfony</category><guid>http://blog.fizyk.net.pl/blog/fzblameableplugin-1-1-2-released/</guid><pubDate>Sun, 15 Jul 2012 18:07:55 GMT</pubDate></item><item><title>fzBlameablePlugin 1.1.1 released</title><link>http://blog.fizyk.net.pl/blog/fzblameableplugin-1-1-1-released/</link><dc:creator>Grzegorz Śliwiński</dc:creator><description>&lt;div&gt;&lt;p&gt;I've just released version 1.1.1 of fzBlameable Plugin providing
Blameable behaviour  for doctrine models in symfony 1.4. This package
contains two fixes prepared by Gábor Egyed.&lt;/p&gt;
&lt;p&gt;First fix adds check whether context exists. Second fix allows blameable
behaviour to work as expected got user model itself and self edit
profiles.&lt;/p&gt;
&lt;ul class="simple"&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference external" href="https://github.com/fizyk/fzBlameablePlugin/compare/v1.1.0...v1.1.1"&gt;Changelog&lt;/a&gt; since fzBlameable v1.1.0&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference external" href="http://www.symfony-project.org/plugins/fzBlameablePlugin/1_1_1"&gt;Plugin's release symfony page&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference external" href="https://github.com/fizyk/fzBlameablePlugin/tree/v1.1.1"&gt;Plugin's release repository tree&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;</description><category>fzBlameable</category><category>php</category><category>plugin</category><category>symfony</category><guid>http://blog.fizyk.net.pl/blog/fzblameableplugin-1-1-1-released/</guid><pubDate>Sun, 15 Apr 2012 17:04:49 GMT</pubDate></item><item><title>fzTagPlugin 1.2.6</title><link>http://blog.fizyk.net.pl/blog/fztagplugin-1-2-6/</link><dc:creator>Grzegorz Śliwiński</dc:creator><description>&lt;div&gt;&lt;p&gt;I've just upgraded &lt;strong&gt;fzTagPlugin&lt;/strong&gt; to 1.2.6 adding new version of
&lt;a class="reference external" href="http://www.goat1000.com/tagcanvas.php"&gt;TagCanvas&lt;/a&gt; library and some
new options.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://blog.fizyk.net.pl/blog/fztagplugin-1-2-6/"&gt;Read more…&lt;/a&gt; (1 min remaining to read)&lt;/p&gt;&lt;/div&gt;</description><category>fzTag</category><category>php</category><category>plugin</category><category>symfony</category><category>tag cloud</category><guid>http://blog.fizyk.net.pl/blog/fztagplugin-1-2-6/</guid><pubDate>Sun, 13 Feb 2011 18:02:16 GMT</pubDate></item><item><title>fzTagPlugin 1.2.4</title><link>http://blog.fizyk.net.pl/blog/fztagplugin-1-2-4-en/</link><dc:creator>Grzegorz Śliwiński</dc:creator><description>&lt;div&gt;&lt;p&gt;This version of fzTagPlugin is mostly about enhanced performance.
There's added index on weight field, and some refactoring. All these
changes should affect positively performance of your app.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://blog.fizyk.net.pl/blog/fztagplugin-1-2-4-en/"&gt;Read more…&lt;/a&gt; (1 min remaining to read)&lt;/p&gt;&lt;/div&gt;</description><category>fzTag</category><category>php</category><category>plugin</category><category>symfony</category><guid>http://blog.fizyk.net.pl/blog/fztagplugin-1-2-4-en/</guid><pubDate>Sun, 02 Jan 2011 19:01:52 GMT</pubDate></item><item><title>sfForkedDoctrineApplyPlugin 1.5.5 - now speaks German</title><link>http://blog.fizyk.net.pl/blog/sfforkeddoctrineapplyplugin-1-5-5-now-speaks-german-en/</link><dc:creator>Grzegorz Śliwiński</dc:creator><description>&lt;div&gt;&lt;p&gt;Another version of sfForkedDoctrineApply doesn't bring any new
functionality nor fixes (thankfully). It just adds new translation files - this time German.&lt;/p&gt;
&lt;p&gt;..TEASER_END&lt;/p&gt;
&lt;p&gt;Translation was created by &lt;strong&gt;Daniel Hanke&lt;/strong&gt; and provided by &lt;strong&gt;Tristan
Bessoussa&lt;/strong&gt;. Adding this translation means that sfForked is availabe in
6 languages altogether: English, French, Italian, German, Russian and
Polish.&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Changes made in the plugin since version 1.5.4:
&lt;a class="reference external" href="https://github.com/fizyk/sfForkedDoctrineApplyPlugin/compare/1.5.4...v1.5.5"&gt;Changelog&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Plugin's version's symfony pages:&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="http://www.symfony-project.org/plugins/sfForkedDoctrineApplyPlugin/1_5_5"&gt;http://www.symfony-project.org/plugins/sfForkedDoctrineApplyPlugin/1_5_5&lt;/a&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Plugin's version github pages:&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="https://github.com/fizyk/sfForkedDoctrineApplyPlugin/tree/v1.5.5"&gt;https://github.com/fizyk/sfForkedDoctrineApplyPlugin/tree/v1.5.5&lt;/a&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;</description><category>php</category><category>plugin</category><category>sfForkedDoctrineApply</category><category>symfony</category><guid>http://blog.fizyk.net.pl/blog/sfforkeddoctrineapplyplugin-1-5-5-now-speaks-german-en/</guid><pubDate>Mon, 06 Dec 2010 19:12:12 GMT</pubDate></item><item><title>fzTagPlugin 1.2.3 and sfForkedDoctrineApply 1.5.4</title><link>http://blog.fizyk.net.pl/blog/fztagplugin-1-2-3-and-sfforkeddoctrineapply-1-5-4-en/</link><dc:creator>Grzegorz Śliwiński</dc:creator><description>&lt;div&gt;&lt;p&gt;I had to quite fast update both fzTagPlugin and sfForkedDoctrineApply,
and since Me and several other users discovered some bugs just after I
thought it's all fixed, both plugins had several releases. Crazy sunday
as it might seem.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://blog.fizyk.net.pl/blog/fztagplugin-1-2-3-and-sfforkeddoctrineapply-1-5-4-en/"&gt;Read more…&lt;/a&gt; (1 min remaining to read)&lt;/p&gt;&lt;/div&gt;</description><category>fzTag</category><category>php</category><category>plugin</category><category>sfForkedDoctrineApply</category><category>symfony</category><guid>http://blog.fizyk.net.pl/blog/fztagplugin-1-2-3-and-sfforkeddoctrineapply-1-5-4-en/</guid><pubDate>Mon, 29 Nov 2010 22:11:49 GMT</pubDate></item></channel></rss>